head
	title Presentador

	link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.0.0/css/reveal.min.css')
	link#theme(rel='stylesheet', href='/styles/black.css')
	link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")

body
	.row#input-area
		form.col.s12
			.row
				.input-field.col.s6
					input#title.validate(type="text", style="color: white")
					label(for='title') Presentation Title
					a.waves-effect.waves-light.btn#generate Make Presentation
				// one of the problems with the code was that pressing enter on the search bar would redirect to /?
				// the intended behaviour was not to redirect, but to generate the section
				// the only solution I could find was to add another .input-field
				// the problem was that I only needed 1, so I set this one to hide itself
				// it is a messy solution, but the problem was huge, so I needed to do something
				// I will try to find a better solution, but this is good enough for now
				.input-field.col.s6(style="display: none")
					input#last_name.validate(type='text')
					label(for='ijeigjeihgeiohg') THIS SHOULD NEVER BEEN SEEN
					
	.reveal#reveal
		.slides
			section
				section
					h1 Presentador
					h2
						| By 
						a(href="//github.com/AbhinavMadahar") Abhinav Madahar
					p Navigate via the arrow keys
					p
						a(href="//github.com/AbhinavMadahar/Presentador") Source Code
					p
						a(href="//github.com/AbhinavMadahar/Presentador/issues") Bugs

	script(src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.0.0/js/reveal.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js")
	script(src="scripts/index.js")
