head
	title Presentador

	link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.0.0/css/reveal.min.css')
	link#theme(rel='stylesheet', href='/styles/black.css')

body
	.reveal
		.slides
			section
				h1 Presentador
				h2 By Abhinav Madahar

	script(async src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.0.0/js/reveal.min.js")
	script(async src="scripts/index.js")
